// Colors
$red-000: #f39ca9;
$red-100: #d50c2f;
$red-200: #9d2246;
$blue-000: #89b4e1;
$blue-100: #0068b4;
$blue-200: #00326d;
$lila-000: #c7c1e1;
$lila-100: #8681b1;
$lila-200: #3b296a;



// Color scheme
// $color-scheme: bremen;
// $body-background-color: $white;
$body-heading-color: $blue-200;
// $body-text-color: $grey-dk-100;
$link-color: $blue-100;
// $nav-child-link-color: $grey-dk-100;
// $sidebar-color: $grey-lt-000;
// $base-button-color: #f7f7f7;
// $btn-primary-color: $purple-100;
$code-background-color: $grey-lt-100;
// $feedback-color: darken($sidebar-color, 3%);
// $table-background-color: $white;
// $search-background-color: $white;
// $search-result-preview-color: $grey-dk-000;