{% extends "./floorplan/floorplan.json" %}


{% block context %}
        {
            "floorplan": "https://secorolab.github.io/floorplans/"
        },
        "https://comp-rob2b.github.io/metamodels/qudt.json",
        "https://comp-rob2b.github.io/metamodels/geometry/coordinates.json",
        "https://secorolab.github.io/metamodels/geometry/coordinate-extension.json"
{% endblock%}

{% block space %}
    {% set pose = space.pose %}
    {% include "./geometry/coordinate/pose.json" with context %},
    {% for position in space.shape_position_coords %}
    {% include "./geometry/coordinate/position.json" with context %},
    {% endfor %}
    {% for pose in space.wall_pose_coords %}
    {% include "./geometry/coordinate/pose.json" with context %},
    {% endfor %}
{% endblock %}

{% block wall %}
{% set outer_loop = loop %}
{% for position in w.point_positions %}
    {% include "./geometry/coordinate/position.json" with context %}{% if not loop.last %},
    {% endif %}
{% endfor %}{% if not outer_loop.last %},
    {% endif %}
{% endblock %}

{% block feature %}
{% set outer_loop = loop %}
    {% set pose = f.pose %}
    {% include "./geometry/coordinate/pose.json" with context %},
    {% for position in f.shape_position_coords %}
    {% include "./geometry/coordinate/position.json" with context %}
    {%- if not loop.last %},
    {% endif %}
    {% endfor %}
    {%- if not outer_loop.last %},
    {% endif %}
{% endblock %}

{% block opening %}
    {% set pose = o.pose %}
    {% include "./geometry/coordinate/pose.json" with context %}
{%- if not loop.last or o.shape_position_coords %},
{% endif %}
{% if o.shape_position_coords %}
    {% for position in o.shape_position_coords %}
    {% include "./geometry/coordinate/position.json" with context %}
    {%- if not loop.last %},
    {% endif %}
    {% endfor %}
{% endif %}
{% endblock %}