{% extends "./floorplan/floorplan.json" %}

{% block context %}
        {
            "floorplan": "https://secorolab.github.io/metamodels/floorplan#",
            "polytope": "https://secorolab.github.io/metamodels/polytope#"
        },
        "https://secorolab.github.io/metamodels/floor-plan/floor-plan.json"
{% endblock%}

{% block wall %}
{% set element = w %}
{% include "./floorplan/elements/element.json" with context %}{% if not loop.last %},
{% endif %}
{% endblock %}

{% block feature %}
{% set element = f %}
{% include "./floorplan/elements/element.json" with context %}{% if not loop.last %},
{% endif %}
{% endblock %}

{% block opening %}
{% set element = o %}
{% include "./floorplan/elements/element.json" with context %}
{% endblock %}

{%- block space -%}
{% include "./floorplan/elements/space.json" with context %},
{%- endblock -%}

{% block graph %}
{% include "./floorplan/elements/floorplan.json" with context %},
{{ super() }}
{% endblock %}