{% extends "./floorplan/floorplan.json" %}


{% block context %}
        {
            "floorplan": "https://secorolab.github.io/floorplans/"
        },
        "https://secorolab.github.io/metamodels/geometry/polytope.json"
{% endblock%}

{% block space %}
{% set shape = space.shape %}
{% set points = space.shape.points %}
{% include "./geometry/polygon.json" with context %},
{% endblock %}

{% block wall %}
{% set outer_loop = loop %}
{% set shape = w.shape %}
{% set points = w.shape.points %}
{% include "./geometry/polygon.json" with context %}{% if not outer_loop.last %},
{% endif %}
{% endblock%}

{% block feature %}
{% set outer_loop = loop %}
{% set points = f.shape.points %}
{% set shape = f.shape %}
{% include "./geometry/polygon.json" with context %}{% if not outer_loop.last %},
{% endif %}
{% endblock %}

{% block opening %}
{% set outer_loop = loop %}
{% set points = o.shape.points %}
{% set shape = o.shape %}
{% include "./geometry/polygon.json" with context %}
{% endblock %}