{% extends "./floorplan/floorplan.json" %}


{% block context %}
        {
            "geom": "https://comp-rob2b.github.io/metamodels/geometry/structural-entities#"
        },
        "https://comp-rob2b.github.io/metamodels/geometry/structural-entities.json"
{% endblock%}

{% block space -%}
{% set frame = space.frame %}
{% include "./floorplan/structural-entities/origin.json" with context %},
{% include "./geometry/structural-entities/frame.json" with context %},
{% for point in space.shape.points %}
{% include "./geometry/structural-entities/point.json" with context %},
{% endfor -%}
{%- endblock %}

{% block wall %}
{%- set outer_loop = loop -%}
{% set frame = w.frame %}
{% include "./floorplan/structural-entities/origin.json" with context %},
{% include "./geometry/structural-entities/frame.json" with context %},
{% for point in w.shape.points %}
{% include "./geometry/structural-entities/point.json" with context %}
{%- if not loop.last %},
{% endif %}
{% endfor %}
{%- if not outer_loop.last %},
{% endif %}
{% endblock %}

{% block feature %}
{%- set outer_loop = loop -%}
{% set frame = f.frame %}
{% include "./floorplan/structural-entities/origin.json" with context %},
{% include "./geometry/structural-entities/frame.json" with context %},
{% for point in f.shape.points %}
{% include "./geometry/structural-entities/point.json" with context %}
{%- if not loop.last %},
{% endif %}
{% endfor %}
{%- if not outer_loop.last %},
{% endif %}
{% endblock %}

{% block opening %}
{%- set outer_loop = loop -%}
{% set frame = o.frame %}
{% include "./floorplan/structural-entities/origin.json" with context %},
{% include "./geometry/structural-entities/frame.json" with context %}
{%- if not loop.last or o.shape.points %},
{% endif %}
{% if o.shape.points %}
{% for point in o.shape.points %}
{% include "./geometry/structural-entities/point.json" with context %}
{%- if not loop.last %},
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}

{% block graph %}
{% include "./floorplan/structural-entities/world_origin.json" with context %},
{% include "./floorplan/structural-entities/world_frame.json" with context %},
{{ super() }}
{%- endblock %}