{% extends "./floorplan/floorplan.json" %}


{% block context %}
{
    "geom": "https://comp-rob2b.github.io/metamodels/geometry/structural-entities#"
},
"https://comp-rob2b.github.io/metamodels/geometry/structural-entities.json"
{% endblock%}

{% block space -%}
{% include "./floorplan/structural-entities/space_point.json" with context %},
{% include "./floorplan/structural-entities/space_frame.json" with context %},
{% for p in space.shape.points %}
{% set point_id = loop.index0 %}
{% include "./floorplan/structural-entities/space_shape_point.json" with context %},
{% endfor -%}
{%- endblock %}

{% block wall %}
{%- set outer_loop = loop -%}
{% include "./floorplan/structural-entities/wall_point.json" with context %},
{% include "./floorplan/structural-entities/wall_frame.json" with context %},
{% for corner_id in [0, 1, 2, 3] %}
{% include "./floorplan/structural-entities/wall_corner_point.json" with context %}
{%- if not loop.last %},
{% endif %}
{% endfor %}
{%- if not outer_loop.last %},
{% endif %}
{% endblock %}

{% block graph %}
{% include "./floorplan/structural-entities/world_origin.json" with context %},
{% include "./floorplan/structural-entities/world_frame.json" with context %},
{{ super() }}
{%- endblock %}