{% extends "./floorplan/floorplan.json" %}


{% block context %}
        {
            "geor": "https://comp-rob2b.github.io/metamodels/geometry/spatial-relations#",
            "geom": "https://comp-rob2b.github.io/metamodels/geometry/structural-entities#"
        },
        "https://comp-rob2b.github.io/metamodels/geometry/spatial-relations.json"
{% endblock%}

{% block space %}
{%- set outer_loop = loop -%}
{# Pose of the space frame wrt to other frames (walls or spaces) as specificied in the model #}
{% set pose = space.pose %}
{% include "./floorplan/spatial-relations/pose.json" with context %},
{# Positions of the points in the space shape wrt the shape's frame #} 
{%- for position in space.shape_position_coords %}
{% include "./floorplan/spatial-relations/position.json" with context %},
{% endfor %}
{# Pose of the wall frames with regards to the space frame #}
{% for pose in space.wall_pose_coords %}
{% include "./floorplan/spatial-relations/pose.json" with context %},
{% endfor %}
{% endblock %}

{% block wall %}
{%- set outer_loop = loop -%}
{# Position of the points in the wall's shape wrt to the wall's frame #}
{% for position in w.point_positions %}
{% include "./floorplan/spatial-relations/position.json" with context %}
{%- if not loop.last %},
{% endif %}
{% endfor %}
{%- if not outer_loop.last %},
{% endif %}
{% endblock %}

{% block feature %}
{}
{%- if not loop.last %},
{% endif %}
{% endblock %}
