{% import "./fpm2/geometry.fpm2.jinja" as geom %}
    {{ wall_opening.__class__.__name__ }} {{ wall_opening.name }}:
        shape: {{ geom.shape_macro(wall_opening.shape) }}
        location: 
            in: {{wall_opening.location.walls[0].space.name}}.walls[{{wall_opening.location.walls[0].wall_idx}}] 
            {%- if wall_opening.location.walls| length == 2 %} and {{wall_opening.location.walls[1].space.name}}.walls[{{wall_opening.location.walls[1].wall_idx}}]{% endif +%}
            {% if wall_opening.location.transformation.translation %}
            translation: {{ geom.translation(wall_opening.location.transformation.translation) }}
            {% endif %}
            {% if wall_opening.location.transformation.rotation %}
            rotation: {{ geom.rotation(wall_opening.location.transformation.rotation) }}
            {% endif %}
