{% extends "./floorplan/floorplan.json" %}
{% import "./floorplan/concepts.json" as fp  %}

{% block context %}
        {
            "floorplan": "https://secorolab.github.io/metamodels/floorplan#",
            "polytope": "https://secorolab.github.io/metamodels/polytope#"
        },
        "https://secorolab.github.io/metamodels/floor-plan/floor-plan.json"
{% endblock%}

{% block wall %}
{{ fp.wall(space, loop.index0)}},
{% endblock %}

{% block feature %}
{{ fp.floor_features(f)}}
{% endblock %}

{%- block space_bottom -%}
{{ fp.space(space)}}
{%- endblock -%}

{% block graph %}
{{ super() }},
{{ fp.floorplan(model) }}
{% endblock %}