{% extends "./base.json" %}
{% from './geometry.json' import point, frame, polygon%}
{% from "./floorplan.json" import polygon_walls, floor_features %}


{% block context %}
        {
            "polytope": "https://secorolab.github.io/metamodels/polytope#",
            "geom": "https://comp-rob2b.github.io/metamodels/geometry/structural-entities#"
        },
        "https://secorolab.github.io/metamodels/geometry/polytope.json"
{% endblock%}

{% block graph %}
{% for space in model.spaces %}
{{ polygon(space) }},
{{ polygon_walls(space) }}{%- if loop.last and not space.features %}{% else %},
    {% endif %}
{% if space.features %}
"features",
{{ floor_features(space) }}{%- if not loop.last %},
    {% endif %}
{% endif %}
{% endfor %}
{% endblock %}