{% extends "./floorplan/floorplan.json" %}
{% from "./geometry/polytope.json" import polygon, polygon_walls, floor_features %}


{% block context %}
        {
            "polytope": "https://secorolab.github.io/metamodels/polytope#",
            "geom": "https://comp-rob2b.github.io/metamodels/geometry/structural-entities#"
        },
        "https://secorolab.github.io/metamodels/geometry/polytope.json"
{% endblock%}

{% block space %}
{{ polygon(space) }},
{% endblock %}

{% block wall %}
{% set outer_loop = loop %}
{% set wall_id = outer_loop.index0 %}
{{ polygon_walls(space, wall_id) }}{% if not outer_loop.last %},
{% endif %}
{% endblock%}

{% block features %}
{{ floor_features(space, feature) }}
{% endblock %}