{% extends "./floorplan/floorplan.json" %}
{% from "./geometry/structural-entities.json" import point, frame, shape_points, space_macro, wall_points %}


{% block context %}
{
    "geom": "https://comp-rob2b.github.io/metamodels/geometry/structural-entities#"
},
"https://comp-rob2b.github.io/metamodels/geometry/structural-entities.json"
{% endblock%}

{% block space -%}
{{ space_macro(space) }}
{{ shape_points(space) }}
{%- endblock %}

{% block wall %}
{%- set outer_loop = loop -%}
{%- set wall_id = outer_loop.index0 -%}
{{ wall_points(space, wall_id) }}{%- if not loop.last %},
{% endif -%}
{% endblock %}

{% block graph %}
{{ point("world-origin") }},
{{ frame("world-frame", "world-origin") }},
{{ super() }}
{% endblock %}