{% extends "./base.json" %}
{% from './geometry.json' import point, frame %}

{% macro space_macro(name) %}
    {{ point("point-center-{}".format(name)) }},
    {{ frame("frame-center-{}".format(name), "point-center-{}".format(name)) }},
{%- endmacro -%}

{% macro shape_points(space) %}
    {% for point_id in space.get_shape().get_points() %}
    {{ point("point-shape-{}-{}".format(space.name, loop.index0)) }},
    {% endfor %}
{%- endmacro -%}

{% macro wall_points(space) %}
    {% for wall in space.walls %}
    {% set outer_loop = loop %}
    {% set point_id = outer_loop.index0 %}
    {{ point("point-frame-{}-wall-{}".format(space.name, point_id)) }},
    {{ frame("frame-{}-wall-{}".format(space.name, point_id), "point-frame-{}-wall-{}".format(space.name, point_id)) }},
    {% for corner in [0, 1, 2, 3] %}
    {{ point("point-corner-{}-wall-{}-{}".format(space.name, point_id, corner)) }}
    {%- if not outer_loop.last or not loop.last %},
    {% endif %}
    {%- endfor %}
    {%- endfor %}
{%- endmacro -%}

{% block context %}
{
    "geom": "https://comp-rob2b.github.io/metamodels/geometry/structural-entities#"
},
"https://comp-rob2b.github.io/metamodels/geometry/structural-entities.json"
{% endblock%}

{% block graph %}
{{ point("world-origin") }},
{{ frame("world-frame", "world-origin") }},
{% for space in model.spaces -%}
{{ space_macro(space.name) }}
{{ shape_points(space) }}
{{ wall_points(space)}}{%- if not loop.last %},
{% endif %}
{%- endfor %}
{% endblock %}