{% extends "./base.json" %}
{% from './geometry.json' import point, frame, shape_points %}
{% from './floorplan.json' import space_macro, wall_points %}


{% block context %}
{
    "geom": "https://comp-rob2b.github.io/metamodels/geometry/structural-entities#"
},
"https://comp-rob2b.github.io/metamodels/geometry/structural-entities.json"
{% endblock%}

{% block graph %}
{{ point("world-origin") }},
{{ frame("world-frame", "world-origin") }},
{% for space in model.spaces -%}
{{ space_macro(space) }}
{{ shape_points(space) }}
{{ wall_points(space)}}{%- if not loop.last %},
{% endif %}
{%- endfor %}
{% endblock %}